<div class="container mt-5" >
    <form class="content">
        <h3>Registration</h3>

        <div class="row">
        <div class="col-lg-6 col-6">
            <input type="text" class="form-control" id="firstname" placeholder="Enter firstname">
        </div>
        <div class="col-lg-6 col-6">
            <input type="text" class="form-control" id="lastname" placeholder="Enter lastname">
        </div><br><br>
        <div class="row">
            <div class="col-mb-20">
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
    
        </div>
    </div>
    </form>
</div>
   
    
