.content {

    max-width: 500px;
    text-align: left;
    color: rgb(166, 107, 221);
    margin: auto;
    background-color: beige;
    padding: 2% 5%;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 5px 5px ;
    
    
   
}
h3{
    text-align: center;

}

    

